<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bird Watchers</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/css/site.css" />*@
    <link rel="stylesheet" href="~/css/Home.css" />
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <style>
    </style>
</head>

@*background="/css/nature.jpg" style="background-size: cover; background-repeat: no-repeat;*@
<body style=" background-color: #F6F0ED;
">



    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <img href src="/css/bird.png" />

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="SeenBird" asp-action="Seen">Seen</a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="WishList" asp-action="Wish">Wishlist</a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Bird" asp-action="Index">Search for Birds</a>

                }
                @*<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>*@
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
