@model IEnumerable<Brdy.Data.Models.WishList>

@{
    ViewData["Title"] = "AllWishList";
}

<h1>All Users Wish List</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CommonName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CommonName)
            </td>
        </tr>
}
    </tbody>
</table>
