@model Brdy.Models.SightingDetail
@{
    ViewData["Title"] = "Home Page";
}


<div class="Heading">
   <h1> Welcome To Bird Watchers</h1>
       
    </div>

    <form asp-controller="Home" asp-action="SearchBirdByLocation">
        <label asp-for="locName"></label>
        <input asp-for="locName" />
        <input type="submit" value="Search" class="btn btn-primary" />
    </form>
</div>
