@model Brdy.Models.SightingDetail
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <form asp-controller="Home" asp-action="SearchBirdByLocation" method="get">
        <label asp-for="locName"></label>
        <input asp-for="locName" />
        <input type="submit" value="Search" class="btn btn-primary" />
    </form>
</div>
