@model Brdy.Models.SightingDetail
@{
    ViewData["Title"] = "Home Page";
}

<<<<<<< HEAD
<style>

    .container {
        display: flex;
        justify-content: center;
    }

    form {
        position: relative;
        top: 250px;
        align-items: center;
        left: 250px;
    }

    .card {
        position: relative;
        top: 450px;
        display: inline-block;
       
    }

    input{
        border-radius: 10px;
    }

    body{
        background-color: red;
    }

   
</style>


<div class="container">

    <h1> Welcome To Bird Watchers</h1>

=======
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <form asp-controller="Home" asp-action="SearchBirdByLocation" method="get">
        <label asp-for="locName"></label>
        <input asp-for="locName" />
        <input type="submit" value="Search" class="btn btn-primary" />
    </form>
>>>>>>> aace9b300902f4c8c4823f7e686d16d90ae022a5
</div>

<form asp-controller="Home" asp-action="SearchBirdByLocation">
    <label asp-for="locName"></label>
    <input asp-for="locName" />
    <input type="submit" value="Search" class="btn btn-primary" />
</form>



<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>


<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>


<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>