@model Brdy.Models.SightingDetail
@{
    ViewData["Title"] = "Home Page";
}

<style>

    h1 {
        position: relative;
        top: 50px;
    }
    .container {
        display: flex;
        justify-content: center;
    }

    form {
        position: relative;
        top: 250px;
        align-items: center;
        left: 250px;
    }

    .card {
        position: relative;
        top: 450px;
        display: inline-block;
       
    }

    input{
        border-radius: 10px;
    }

  
   
</style>


<div class="container">

    <h1> Welcome To Bird Watchers</h1>

</div>

<form asp-controller="Home" asp-action="SearchBirdByLocation" method="get">
    <label asp-for="locName"></label>
    @*Still dont know how i want to Display this*@
    <input placeholder="Enter Location" asp-for="locName" />
    <input type="submit" value="Search" class="btn btn-primary btn-sm" />
</form>


@*Maybe a example card to show how to search*@
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        
    </div>
</div>

@*Maybe recent sighting*@
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        
    </div>
</div>

@*Quick Add feature?*@
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        
    </div>
</div>