@model Brdy.Models.SightingDetail
@{
    ViewData["Title"] = "Home Page";
}


<style>

    h1 {
        position: relative;
        top: 50px;
    }

    .container {
        display: flex;
        justify-content: center;
    }

    form {
        position: relative;
        top: 250px;
        align-items: center;
        left: 250px;
    }

    .card {
        position: relative;
        top: 450px;
        color : black;
        display: inline-block;
    }

    input {
        border-radius: 10px;
    }
</style>


<div class="container">

    <h1> Welcome To Bird Watchers</h1>

</div>

@*<asp:DropDownList></asp:DropDownList>*@

<form asp-controller="Bird" asp-action="SearchBirdByLocation" method="get">
    <label asp-for="locName"></label>
    <input placeholder="Enter Location" asp-for="locName" />
    <input type="submit" value="Search" class="btn btn-primary btn-sm" />
</form>
<form asp-controller="Bird" asp-action="SearchByLatandLng" method="get">
    <label asp-for="lat"></label>
    <input id="lat"  placeholder="Enter Latitude" asp-for="lat" />
    <label asp-for="lng"></label>
    <input id="lng"  placeholder="Enter Longitude" asp-for="lng"/>
    <input type="submit" value="Search" class="btn btn-primary btn-sm" />
    <label id="error"></label>
</form>


<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Search by Location</h5>
        <h6 class=“card-subtitle mb-2 text-muted”>Examples</h6>
        <ul>
            <li>US-MI</li>
            <li>US-AL</li>
            <li>US-AK</li>
        </ul>
    </div>    
</div>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Search by Lat an Lon</h5>
        <h6 class=“card-subtitle mb-2 text-muted”>Examples</h6>
        <ul>
            <li>40.88 89.23</li>
            <li>23.56 78.34</li>
            <li>67.99 54.22</li>
        </ul>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(() => {

            let error = document.getElementById("error");
            let x = document.getElementById("lat");
            let y = document.getElementById("lng");

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                error.innerHTML = "Geolocation is not supported by this browser.";
            }

            function showPosition(position) {
                x.value = position.coords.latitude;
                y.value = position.coords.longitude;
            };
        });
    </script>
}
