@model Brdy.Models.SightingDetail
@{
    ViewData["Title"] = "Home Page";
}

<style>

    h1 {
        position: relative;
        top: 50px;
    }

    .container {
        display: flex;
        justify-content: center;
    }

    form {
        position: relative;
        top: 250px;
        align-items: center;
        left: 250px;
    }

    .card {
        position: relative;
        top: 450px;
        display: inline-block;
    }

    input {
        border-radius: 10px;
    }
</style>


<div class="container">

    <h1> Welcome To Brdy</h1>

</div>

<form asp-controller="Bird" asp-action="SearchBirdByLocation" method="get">

    <input placeholder="Enter Region" asp-for="locName" />

    <input type="submit" value="Search" class="btn btn-primary btn-sm" />
</form>
<form asp-controller="Bird" asp-action="Weather" method="get">

    @*Still dont know how i want to Display this*@
    <input placeholder="Enter Latitude" asp-for="lat" />
    <input placeholder="Enter Longitude" asp-for="lng" />
    <input type="submit" value="Search" class="btn btn-primary btn-sm" />
</form>


<form asp-controller="Bird" asp-action="SearchBirdByLocation" method="get">

    <input placeholder="Enter Region" asp-for="locName" />

    <input type="submit" value="Search" class="btn btn-primary btn-sm" />
    </form>



    @*Maybe a example card to show how to search*@

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title"> To search by Region</h5>
            <h6 class="card-subtitle mb-2 text-muted">Use state abbreviations </h6>
            <span>Examples</span>
            <ul>
                <li>US-MI</li>
                <li>US-AL</li>
                <li>US-GA</li>
            </ul>
        </div>
    </div>


    @*Maybe recent sighting*@
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title"> To search by Species</h5>
            <h6 class="card-subtitle mb-2 text-muted">Use common associated name </h6>
            <span>Examples</span>
            <ul>
                <li>American White Pelican</li>
                <li>European Starling</li>
                <li>Canada Goose</li>
            </ul>
        </div>
    </div>

    @*Quick Add feature?*@
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title"> To search by Location</h5>
            <h6 class="card-subtitle mb-2 text-muted">Use Lattitude an Longitude </h6>
            <span>Examples</span>
            <ul>
                <li>90 -90</li>
                <li>49.50 83.00</li>
                <li>120 35.00</li>
            </ul>
        </div>
    </div>
