@model Brdy.Models.Root


@{
    ViewData["Title"] = "Weather";
}

<h1>Weather</h1>

<h4>Current temparature in @Model.city also @Model.message </h4>
<div>
    <p>

    </p>
</div>

<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
